
p {
	text-align:justify !important
}

#navbar {
	background: #fff
}

.navbar.sticky {
	height:90px !important

}

.top-bar .list-inline li a:hover {
	background: #fff !important;
	color: #fff;
}

@media (max-width: 450px) {
  #navbar {
	margin-top:40px
  }
  .navbar.sticky {
    height:140px !important
  }
}

